  
name: Mega-Sdk-Docker-Builder

on:
  push:
    paths-ignore:
    - README.md
    - .github/workflows/docker-push.yml
    - Dockerfile
    
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Check Out Repo 
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/MegaSdk:3.9.2

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

